*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 15px;
    font-family: helvetica, sans-serif;
    margin: 1px;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    background-color: lightgray;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

body {
    font-family: helvetica, sans-serif;
    display: inline-block;
}

.photo-gallery > p {
    background-color: aquamarine;
    padding: 15px;
    font-size: 22px;
}

span {
    text-decoration: underline yellow;
    font-weight: bold;
}

.photo-gallery {
    margin: auto 40px;
    display: inline-block;
}

.photo-gallery-container {
    margin: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.photo-box {
    display: inline-block;
    width: 32%;
}

.photo-box > img {
    width: 100%;
}

.photo-gallery-container p {
    margin: 2px 0;
    background-color: gold;
    padding: 10px;
    text-align: center;
}

footer p {
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 15px;
}