/* global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: helvetica, sans-serif;
    display: inline-block;
}

/* header */

h1 {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 15px;
    margin: 1px;
}

/* nav */

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    background-color: lightgray;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* photo gallery header */

.photo-gallery-container .photo-gallery-header {
    background-color: aquamarine;
    padding: 12px;
    font-size: 22px;
    text-align: left;
    margin: 10px 30px;
}

span {
    border-bottom: yellow 2px solid;
    font-weight: bold;
}

/* photo gallery */

.photo-gallery-container {
    margin: auto 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.photo-box {
    display: inline-block;
    width: 30%;
    margin-bottom: 10px;
}

.photo-box > img {
    width: 100%;
}

.photo-gallery-container p {
    margin: 2px 0;
    background-color: gold;
    padding: 10px;
    text-align: center;
}

/* footer */

footer p {
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}